body {
    font-family: Arial, sans-serif;
}

#timeBlocks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.time-block {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.time-block-past {
    background-color: #d0d0d0; /* Darker background color for past blocks */
}

.time-block.selected {
    background-color: #d0e7ff;
}

.block-time {
    min-width: 60px;
}

.editable {
    flex-grow: 1;
    margin: 0 10px;
}

.checkbox {
    margin-left: 10px;
    width: 25px;   /* Increase the width */
    height: 25px;  /* Increase the height */
    transform: scale(1.5); /* Further enlarge the checkbox */
}
